h1{
  color: #E07A5F;
  text-align: center;
  font-family: "American Typewriter", sans-serif;
  font-size: 50px;
}
/* .img-logo {
    display: none;
} */



.img-logo {
    /* width: 50%;
    padding-right: 30px;
    float: right;
    margin:0 0 40px 45px;
    max-width: 300px;
    max-height: 500px; */

    width: 28%;
    padding-right: 0 20px 0 20px;
    float: right;
    margin-bottom:10px;
    margin-left: 20px;
    margin-top: 5px;
    /* max-width: 300px;
    max-height: 500px; */
}
.space{
  line-height: 1.5;
  padding-bottom: 15px
}


#mainMenu {
  list-style-type: none;
  margin: 0 auto;
  width:750px;
  padding: 0;
  overflow:auto;
  background-color: #81B29A;
  border-radius: 10px;

}

#mainMenu li{
  float:left;
}
#mainMenu a {
  display: block;
  color: #3D405B;
  font-weight: bold;
  font-family: "American Typewriter", cursive, sans-serif;
  text-align: center;
  width: 218px;
  padding: 16px;
  text-decoration: none;
}
#mainMenu a:hover {
  background-color: #F2CC8F;
  color: #999
}

#introduction{
  margin: 0 auto;
  width: 60%;
  color:black
}

.bg-modal{
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content{
  width:500px;
  height:300px;
  background-color: white;
  border-radius:4px;
  padding: 20px;
  position: relative;
}

.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size:30px;
  transform: rotate(45deg);
  cursor: pointer;
}

.footer{
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #3D405B;
  color: white;
  text-align: center;
}

#resume{
  margin: 0 20px 20px 75px;
  margin-bottom: 15%;
  margin-left:15%;x 
}

.coursesTitle{
  float: center;
  font-size: 25px;
  color: #1b3752;
  font-family: "American Typewriter", cursive, sans-serif;
}

.courses{
  float: right;
  color: #1b3752;
  margin-right: 25%;
  font-family: "American Typewriter", cursive, sans-serif;
}

.coursesStuff{
  list-style: disc;
}


/* spaces between icons */
.social-menu ul li {
    list-style: none;
    float: left;
    margin: 0 10px;
}

/* sizes and color */
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

/* HOVERING */
.social-menu ul li .fa:hover {
    color: #ffffff;
}

/* SHADOWS */
.social-menu ul li a {
    float: left;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

/* hovering */
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

/* colors */
.social-menu ul li:nth-child(1) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #333;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #B23121;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #3b5999;
}

@media only screen and (max-width: 768px){
  .img-logo {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
  #mainMenu {
    list-style-type: none;
    margin: 0 auto;
    width: 72.5%;

    text-align: center;
    padding: 0;
    overflow:auto;
    background-color: #81B29A;
  }
  #mainMenu a{
    display: block;
    color: #3D405B;
    font-weight: bold;
    font-family: "American Typewriter", cursive, sans-serif;
    text-align: center;
    width: 100%;
    padding: 16px;
    text-decoration: none;
  }
  #mainMenu a:hover {
    color: #999
  }
}
